@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #141414;
  color: #ffffff;
  font-size: 11px;
  font-weight: 100;
  
}

body{
  background-color: #141414;
  padding: 0 5% ;
}

.container {
  max-width: 1280px;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}



.glowing-text{
  color: #F5841F; 
  padding-bottom: 10px;
  position: relative; /* Position relative to use pseudo-element */
  display: inline-block; /* Ensures the div does not stretch full width */
}


.glowing-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200%;
  height: 1px; /* Height of the glowing border */
  background: linear-gradient(to left, rgba(255, 165, 0, 0), rgba(255, 165, 0, 1), rgba(255, 165, 0, 0)); /* Gradient effect */
  transform: translateX(-50%); /* Center the pseudo-element */
  box-shadow: 0 6px 16px 0 rgba(255, 165, 0, 2); /* More intense glowing effect */
  border-radius: 8px; /* Optional: adds rounded corners to the glow */
  pointer-events: none; /* Ensures the pseudo-element doesn't interfere with interactions */
}

.light-font {
  font-weight: 100 !important; /* Using !important to ensure override, use judiciously */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
